
@media (min-width: 550px) {
   .creden {
      height: 100vh;
      color: white;
      display: grid;
      place-items: center;
    
      form {
        width: 400px;
        text-align: center;
      }
    }
    
    .room {
      display: block;
      margin: 0 auto;
      padding: 30px 20px 20px;
      height: fit-content;
      width: 550px;
      color: white;

      ::-webkit-scrollbar {
         width: 10px;
       }
       
       /* Track */
       ::-webkit-scrollbar-track {
         background: #281E36;
       }
       
       /* Handle */
       ::-webkit-scrollbar-thumb {
         background: #FF6B81;
       }
       
       /* Handle on hover */
       ::-webkit-scrollbar-thumb:hover {
         background: #FF6B81;
       } 
     }
}
