@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #2F263C;
}

.creden {
  height: 100vh;
  color: white;
  display: grid;
  place-items: center;

  form {
    width: 70%;
    text-align: center;

    label {
      font-size: 28px;
      font-weight: 800;
    }

    .input1 {
      margin-top: 10px;
    }

    input {
      width: 100%;
      padding: 15px 20px;
      color: white;
      background-color: #281E36;
      outline-color: #FF6B81;
      outline-width: 1ch;
      border: 0;
      margin-bottom: 15px;
      border-radius: 5px;
    }
  
    input::placeholder {
      color: white;
    }

    .sub {
      background-color: #FF6B81;
      outline: none;
    }

    p {
      font-size: 10px;
    }
  }
}

.room {
  padding: 20px;
  height: fit-content;
  color: white;

  .messages {
    height: 500px;
    border: 2px solid #FF6B81;
    padding: 20px;
    font-size: 12px;
    overflow-y: scroll;

    .each {

      .cre {

        .msg {
          width: fit-content;
          padding: 5px 10px;
          border-radius: 12px;
          background-color: #FF6B81;
        }

        .date {
          font-size: 8px;
        }
      }
    }
  }

  .send {

    form {

      .input2 {
        margin-top: 10px;
      }

      input {
        width: 100%;
        padding: 15px 20px;
        color: white;
        background-color: #281E36;
        outline-color: #FF6B81;
        outline-width: 1ch;
        border: 0;
        margin-bottom: 10px;
        border-radius: 5px;
      }
    
      input::placeholder {
        color: white;
      }

      .sub2 {
        background-color: #FF6B81;
        outline: none;
      }
    }
  }

}
