@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #2F263C;
}

.creden {
  height: 100vh;
  color: white;
  display: grid;
  place-items: center;

  form {
    width: 70%;
    text-align: center;

    label {
      font-size: 28px;
      font-weight: 800;
    }

    .input1 {
      margin-top: 10px;
    }

    input {
      width: 100%;
      padding: 15px 20px;
      color: white;
      background-color: #281E36;
      outline-color: #FF6B81;
      outline-width: 1ch;
      border: 0;
      margin-bottom: 15px;
      border-radius: 5px;
    }
  
    input::placeholder {
      color: white;
    }

    .sub {
      background-color: #FF6B81;
      outline: none;
    }

    p {
      font-size: 10px;
    }
  }
}

.room {
  padding: 20px;
  height: fit-content;
  color: white;

  .sepdate {
    text-align: center;
    margin-bottom: 10px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .logo {
      padding: 10px 0;
    }

    .user {
      display: grid;
      grid-template-columns: 1fr 50px;

      .name {
        margin-right: 15px;
        padding: 10px;
      }

      img {
        width: 40px;
        border-radius: 50%;
        border: 2px solid #FF6B81;
      }
    }
  }

  .messages {
    height: 450px;
    border: 2px solid #281E36;
    padding: 10px;
    font-size: 12px;
    overflow-y: scroll;
    position: relative;

    .each {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 12px;
      margin-top: 25px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #FF6B81;
      }

      .cre {
        word-wrap: break-all;
        position: relative;

        .name {
          position: absolute;
          margin-left: 6px;
          margin-bottom: 5px;
        }

        .msg {
          position: relative;
          top: 18px;
          margin-left: 5px; 
          width: fit-content;
          max-width: 100%;
          padding: 5px 10px;
          border-radius: 12px;
          background-color: #FF6B81;
          word-break: break-all;
        }

        .time {
          font-size: 8px;
          margin-left: 7px;
        }
      }

      .msgD {
        color: #a9a3a3;
        position: relative;
        font-size: 9px;
        width: fit-content;
        min-width: 70px;
        margin-left: 5px;
        position: relative;
        top: 20px;

        .time {
          color: white;
        }
      }
    }

    .ownMsg {
      position: relative;
      right: 0;
      display: flex;
      justify-content: flex-end;
      margin-top: 0;
      margin-bottom: 5px;

      
      img {
        display: none;
      }

      .cre {
        grid-column-start: 2;
        display: grid;
        place-items: start end;

        .name {
          display: none;
        }

        .msg {
          width: fit-content;

          word-break: break-all;
          background-color: cadetblue;
        }

        .time {
          margin-right: 7px;
          margin-left: 0;
        }
      }

      .msgD {
        order: -1;
        width: fit-content;
        min-width: 65px;
        position: relative;
        top: 20px;
        font-size: 8px;
        margin-left: 0;
        text-align: end;
      }
    }
  }

  .send {

    form {

      .input2 {
        margin-top: 10px;
      }

      input {
        width: 100%;
        padding: 15px 20px;
        color: white;
        background-color: #281E36;
        outline-color: #FF6B81;
        outline-width: 1ch;
        border: 0;
        margin-bottom: 10px;
        border-radius: 5px;
      }
    
      input::placeholder {
        color: white;
      }

      .sub2 {
        background-color: #6b21a8;
        transition: all .3s ease;
        outline: none;
        cursor: pointer;

        &:hover {
          background-color: #FF6B81;
        }
      }


    }
  }

}

@import './desktop.scss'


